
<!doctype html>
<html lang="en">
<head>
  {% load staticfiles %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="../../../../favicon.ico">

  <title>William Owuama | About</title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>

  <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="/">William Owuama</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ml-auto">
          <a class="nav-item nav-link" href="{% url 'about' %}">About</a>
          <a class="nav-item nav-link" href="{% url 'photography' %}">Photography</a>
        </div>
      </div>
    </nav>
  </header>

  <main role="main">
    <div class="container text-center text-muted">
      <br><br><h1 class="text-center">William Owuama Jr.</h1><br>
      <image src="{% static 'albumtemp.jpg' %}" class="rounded mx-auto d-block" height="350"><br>
        <a href="https://twitter.com/willowuama" target="_blank" class="btn btn-primary my-2">Twitter</a><br><br>
      <h4>I find it hard to write things about myself. I always find myself stuck between sounding way too professional or way too casual thats when a colleague of mine said “Why does it matter”. So here goes nothing<br><br><br>
I was born and raised in Houston, Texas where I’m proud to say I still reside. Since I was little I always loved to fiddle with any bit of technology I could get my hands on. Well somewhere between Middle and High School I somehow forgot about my love of all things tech (minus video games of course).<br><br><br>
Flash forward a couple of years past High School (3 to be exact), I found myself on a path nowhere near anything tech related and I was miserable. Thats when I was introduced to the world of Programming and I found my childhood interest and desire to fiddle had once returned.<br><br><br>
Since then I dropped everything and made the bold decision to pursue the tech field. Now I find myself indulging on hours of code and geeking out over the countless innovations that seem to pop up on my timelines every other day.</h4><br><br><br>
    </div>
  </main>

  <footer class="text-muted">
    <div class="container text-center">
      <p>&copy William Owuama Jr. {% now "Y" %}</p>
    </div>
  </footer>

    <!-- Bootstrap core JavaScript
      ================================================== -->
      <!-- Placed at the end of the document so the pages load faster -->
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    </body>
    </html>
